@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
body {
  justify-content: center;
}
#app {
  font-weight: normal;
  font-family: 'Noto Serif', serif;
  width: 100%;
}
a,
.nav-link {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}

i::before,
.icon i::before {
  background: linear-gradient(57deg, #ab9c7c, #cfc09f, #ffecb3, #cfc09f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
i,
.icon i {
  color: tan;
}

.hex-content {
  position: relative;
  padding-top: 29%;
  overflow: hidden;
}
.hex {
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  clip-path: polygon(50% 0%, 147% 50%, 50% 100%, -48% 50%);
  opacity: 30%;
  background: gray;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
