/******* MOBILE *******/
@media screen and (max-width: 768px) {
  /* Styles pour les écrans de 768px de largeur ou moins */
  .banner-ctr {
    margin-top: 0 !important;
    .titles {
      height: 400px;
      span {
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 15px;
        }
        .networks-link ul li {
          font-size: 30px !important;
        }
      }
    }
    .solutions {
      top: -64px !important;
      .turnkey,
      .bespoke {
        span {
          top: 35px !important;
          justify-content: flex-start !important;
          position: relative;
          img {
            width: 30% !important;
          }
          h3 {
            font-size: medium !important;
            font-weight: 600 !important;
            letter-spacing: -1px !important;
          }
          p {
            width: 100% !important;
            padding: 5px !important;
            text-align: center !important;
            font-size: 13px !important;
          }
          ul {
            padding: 10px 5px !important;
            li {
              font-size: 13px !important;
            }
          }
          .btn {
            position: absolute;
            bottom: 5px;
            a {
              font-size: 12px;
            }
          }
        }
      }
      .turnkey {
        height: 400px;
        .hex {
          clip-path: polygon(50% 0%, 225% 50%, 50% 156%, -244% 0%);
        }
      }
      .bespoke {
        height: 400px;
        .hex {
          clip-path: polygon(50% 0%, 421% 0%, 0% 132%, -48% 28%);
        }
        span img {
          padding: 5px;
        }
      }
    }
  }
  .solutions {
    .turnkey-ctr .cln-l .card,
    .turnkey-ctr .cln-r .card {
      float: initial !important;
    }
    .bespoke-ctr {
      height: auto !important;
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .contact {
    .row {
      height: auto;
      margin: auto;
      flex-direction: column-reverse;
      .contact-card {
        padding: 0;
        .card {
          width: 100% !important;
        }
      }
      .form {
        padding: 0 !important;
        .title-form h2 {
          font-size: 20px !important;
          letter-spacing: 6px !important;
        }
        form {
          border-radius: 15px;
          padding: 15px !important;
          border: 3px inset white;
          box-shadow: 5px 4px 4px grey;
          width: 100% !important;
          margin-bottom: 40px !important;
        }
      }
      .bckgd {
        bottom: 0 !important;
        left: 0px !important;
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  /* Styles pour les écrans de 769px à 1024px de largeur */
}

@media screen and (min-width: 769px) and (max-width: 1400px) {
}
